 h1 {
    color: white;
    font-size: 1cm;
    font-family: sans-serif;
    margin: auto;
    width: 400px;
    letter-spacing: 2pt;

}
a {
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    width: 5cm;
    margin-top: 1cm;
    text-decoration: none;

}
#honlap {
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    width: 6cm;
    margin-top: 0cm;
    text-decoration: none;
}
a:hover {
    color: black;
}
body {
    background-color: cadetblue;
}

img {
    width: 150px;
    margin-top: 1cm;
    margin-left: 1cm;
}
#kép {
    width: 300px;
}
a.x:hover {
    color: aqua;
    background-color: burlywood;
}
a.x {
    background-color: crimson;
    border-color: crimson;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
    padding: 5px;
    text-align: center;
    margin-right: 12cm;
    
}
a.y {
    background-color: crimson;
    border-color: crimson;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
    padding: 5px;
    text-align: center;
    margin-left: 10cm;
}
a.y:hover {
    color: aqua;
    background-color: burlywood;
}
a.z {
    background-color: crimson;
    border-color: crimson;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
    padding: 5px;
    text-align: center;
    margin-right: -10cm;
}
a.z:hover {
    color: aqua;
    background-color: burlywood;
}
